@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: whitesmoke;
}

.home__section {
  background-color: hsla(158, 65%, 92%, 1);
  background-image:
    radial-gradient(at 0% 100%, hsla(15, 0%, 100%, 1) 0, transparent 50%),
    radial-gradient(at 80% 100%, hsla(157, 97%, 72%, 1) 0, transparent 50%),
    radial-gradient(at 0% 0%, hsla(340, 16%, 91%, 1) 0, transparent 50%);
}
